@mixin btn($bg, $color) {
   display: inline-block;
   border-radius: 5px;
   padding: 10px 60px;
   background: $bg;
   text-decoration: none;
   color: $color;
   cursor: pointer;
   &:hover {
      background: lighten($bg, 10%);
   }
}

@mixin flex($align, $justify) {
   display: flex;
   align-items: $align;
   justify-content: $justify;
}

// Media query
@mixin custom($screen) {
   @media only screen and (max-width: #{$screen}px) {
      @content;
   }
}
