@mixin btn($bg, $color) {
   display: inline-block;
   border-radius: 5px;
   padding: 10px 60px;
   background: $bg;
   text-decoration: none;
   color: $color;
   cursor: pointer;
   &:hover {
      background: lighten($bg, 10%);
   }
}

@mixin flex($align, $justify) {
   display: flex;
   align-items: $align;
   justify-content: $justify;
}

@each $text in (center, left, right) {
   .text-#{$text} {
      text-align: $text;
   }
}
@for $i from 0 to 10 {
   .f-#{$i*100} {
      font-weight: #{$i * 100};
   }
}

// Media query
@mixin custom($screen) {
   @media only screen and (max-width: #{$screen}px) {
      @content;
   }
}
